<strong>Total games: 1069</strong>
<section>
<h2>Categories</h2>
<ul>
<li>French (730 games)</li>
<li>Mahjongg (200 games)</li>
<li>Hanafuda (43 games)</li>
<li>Tarock (22 games)</li>
<li>Dashavatara Ganjifa (20 games)</li>
<li>Mughal Ganjifa (20 games)</li>
<li>Hex A Deck (19 games)</li>
<li>Trumps only (15 games)</li>
</ul>
</section>
<section>
<h2>Types</h2>
<ul>
<li>Baker's Dozen (16 games)</li>
<li>Beleaguered Castle (25 games)</li>
<li>Canfield (22 games)</li>
<li>Dashavatara Ganjifa (20 games)</li>
<li>Fan (30 games)</li>
<li>Forty Thieves (66 games)</li>
<li>Four-Deck game (1 games)</li>
<li>FreeCell (42 games)</li>
<li>Golf (15 games)</li>
<li>Gypsy (32 games)</li>
<li>Hanafuda (43 games)</li>
<li>Hex A Deck (19 games)</li>
<li>Klondike (55 games)</li>
<li>Mahjongg (191 games)</li>
<li>Matrix (8 games)</li>
<li>Memory (4 games)</li>
<li>Montana (16 games)</li>
<li>Mughal Ganjifa (20 games)</li>
<li>Napoleon (14 games)</li>
<li>Numerica (38 games)</li>
<li>One-Deck game (76 games)</li>
<li>Pairing (36 games)</li>
<li>Poker (2 games)</li>
<li>Puzzle (12 games)</li>
<li>Raglan (17 games)</li>
<li>Shisen-Sho (9 games)</li>
<li>Spider (63 games)</li>
<li>Tarock (22 games)</li>
<li>Terrace (10 games)</li>
<li>Three-Deck game (2 games)</li>
<li>Two-Deck game (114 games)</li>
<li>Yukon (29 games)</li>
</ul>
</section>
<section>
<h2>The games</h2>
<table><thead>
<tr><th>ID</th><th>Name</th><th>Alternate names</th><th>Type</th></tr>
</thead>
<tbody>

<tr>
<td>1</td>
<td>Gypsy</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>2</td>
<td>Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>3</td>
<td>Irmgard</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>4</td>
<td>8 x 8</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>5</td>
<td>Relaxed FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>6</td>
<td>Relaxed Seahaven Towers</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>7</td>
<td>Picture Gallery</td>
<td>Die Bildgallerie<br/>Mod-3</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>8</td>
<td>FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>9</td>
<td>Seahaven Towers</td>
<td>Sea Towers<br/>Towers</td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>10</td>
<td>Relaxed Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>11</td>
<td>Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>12</td>
<td>Braid</td>
<td>Der Zopf<br/>Plait<br/>Pigtail</td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>13</td>
<td>Forty Thieves</td>
<td>Napoleon at St.Helena<br/>Le Cadran</td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>14</td>
<td>Grounds for a Divorce</td>
<td>Scheidungsgrund</td>
<td>French (Spider)</td>
</tr>

<tr>
<td>15</td>
<td>Big Harp</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>16</td>
<td>Eiffel Tower</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>17</td>
<td>Matriarchy</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>18</td>
<td>Klondike by Threes</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>19</td>
<td>Yukon</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>20</td>
<td>Russian Solitaire</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>21</td>
<td>Double Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>23</td>
<td>Forty and Eight</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>24</td>
<td>Spiderette</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>25</td>
<td>Gargantua</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>26</td>
<td>King Only Baker's Game</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>27</td>
<td>Odessa</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>28</td>
<td>Double Klondike by Threes</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>29</td>
<td>Scorpion</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>30</td>
<td>Windmill</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>31</td>
<td>Baker's Dozen</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>33</td>
<td>Westcliff</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>34</td>
<td>Beleaguered Castle</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>35</td>
<td>Union Square</td>
<td>British Square</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>36</td>
<td>Golf</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>37</td>
<td>Lara's Game</td>
<td>Thirteen Packs</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>38</td>
<td>Pyramid</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>39</td>
<td>Small Harp</td>
<td>Die kleine Harfe</td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>40</td>
<td>Elevator</td>
<td>Egyptian Solitaire<br/>Pyramid Golf</td>
<td>French (Golf)</td>
</tr>

<tr>
<td>41</td>
<td>PileOn</td>
<td>Fifteen Puzzle</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>42</td>
<td>Bristol</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>43</td>
<td>Chameleon</td>
<td>Kansas</td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>45</td>
<td>Baker's Game</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>46</td>
<td>ForeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>47</td>
<td>Baby Spiderette</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>48</td>
<td>Will o' the Wisp</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>49</td>
<td>Black Widow</td>
<td>Scarab</td>
<td>French (Spider)</td>
</tr>

<tr>
<td>50</td>
<td>Simple Simon</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>51</td>
<td>Steps</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>53</td>
<td>Montana</td>
<td>Gaps</td>
<td>French (Montana)</td>
</tr>

<tr>
<td>54</td>
<td>Royal Cotillion</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>55</td>
<td>Odd and Even</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>56</td>
<td>Fan</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>57</td>
<td>Shamrocks</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>58</td>
<td>Thumb and Pouch</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>59</td>
<td>Osmosis</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>60</td>
<td>Peek</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>61</td>
<td>Casino Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>62</td>
<td>Miss Milligan</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>63</td>
<td>Blue Moon</td>
<td>Rangoon</td>
<td>French (Montana)</td>
</tr>

<tr>
<td>64</td>
<td>Penguin</td>
<td>Beak and Flipper</td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>65</td>
<td>Giant</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>66</td>
<td>Eastcliff</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>67</td>
<td>Whitehead</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>68</td>
<td>Lexington Harp</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>69</td>
<td>Indian</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>70</td>
<td>Number Ten</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>71</td>
<td>Rank and File</td>
<td>Dress Parade</td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>73</td>
<td>Maria</td>
<td>Maria Luisa</td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>74</td>
<td>Midshipman</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>76</td>
<td>Streets</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>77</td>
<td>Stalactites</td>
<td>Grampus<br/>Old Mole</td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>78</td>
<td>Milligan Cell</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>79</td>
<td>Waning Moon</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>80</td>
<td>Busy Aces</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>81</td>
<td>Blind Alleys</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>83</td>
<td>Castles in Spain</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>84</td>
<td>Martha</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>85</td>
<td>Spanish Patience</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>86</td>
<td>Good Measure</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>87</td>
<td>Scotch Patience</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>88</td>
<td>Trefoil</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>89</td>
<td>Monte Carlo</td>
<td>Quilt</td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>90</td>
<td>Simple Carlo</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>91</td>
<td>Simple Pairs</td>
<td>Jamestown</td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>92</td>
<td>Neighbour</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>93</td>
<td>Royal East</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>94</td>
<td>Hopscotch</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>95</td>
<td>Auld Lang Syne</td>
<td>Patience</td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>96</td>
<td>Fourteen</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>97</td>
<td>Carpet</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>98</td>
<td>Black Hole</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>99</td>
<td>Rainfall</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>100</td>
<td>Storehouse</td>
<td>Provisions<br/>Straight Up<br/>Thirteen Up</td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>101</td>
<td>Superior Canfield</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>102</td>
<td>Variegated Canfield</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>103</td>
<td>American Toad</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>104</td>
<td>Cruel</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>105</td>
<td>Canfield</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>106</td>
<td>Double Canfield</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>107</td>
<td>Pas Seul</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>108</td>
<td>Rainbow</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>109</td>
<td>Deuces</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>110</td>
<td>Courtyard</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>111</td>
<td>Doublets</td>
<td>Double or Quits</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>112</td>
<td>Eagle Wing</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>113</td>
<td>Zebra</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>114</td>
<td>Grandmother's Game</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>115</td>
<td>Little Forty</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>116</td>
<td>Spaces</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>117</td>
<td>Red Moon</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>118</td>
<td>Sieben bis As</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>119</td>
<td>Die Koenigsbergerin</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>120</td>
<td>Bad Seven</td>
<td>Die boese Sieben</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>121</td>
<td>Mississippi</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>122</td>
<td>Griffon</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>123</td>
<td>Interregnum</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>124</td>
<td>Tower of Hanoy</td>
<td></td>
<td>French (Puzzle)</td>
</tr>

<tr>
<td>125</td>
<td>Lucas</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>126</td>
<td>Red and Black</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>127</td>
<td>Eight Times Eight</td>
<td>Achtmal Acht</td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>128</td>
<td>Three Shuffles and a Draw</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>129</td>
<td>Vegas Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>130</td>
<td>Perpetual Motion</td>
<td>First Law</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>131</td>
<td>Double Rail</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>132</td>
<td>Super Flower Garden</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>133</td>
<td>Batsford</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>134</td>
<td>Betsy Ross</td>
<td>Fairest<br/>Four Kings<br/>Musical Patience<br/>Quadruple Alliance<br/>Plus Belle</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>135</td>
<td>Terrace</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>136</td>
<td>General's Patience</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>137</td>
<td>Blondes and Brunettes</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>138</td>
<td>Falling Star</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>139</td>
<td>Poker Square</td>
<td></td>
<td>French (Poker)</td>
</tr>

<tr>
<td>140</td>
<td>Poker Shuffle</td>
<td></td>
<td>French (Poker)</td>
</tr>

<tr>
<td>141</td>
<td>Cat's Tail</td>
<td>Der Katzenschwanz</td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>142</td>
<td>Snake</td>
<td>Die Schlange</td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>143</td>
<td>Kingdom</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>144</td>
<td>Maze</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>145</td>
<td>Citadel</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>146</td>
<td>Streets and Alleys</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>147</td>
<td>Fortress</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>148</td>
<td>Chessboard</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>149</td>
<td>Diplomat</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>150</td>
<td>Congress</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>151</td>
<td>Lady Palk</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>152</td>
<td>The Last Monarch</td>
<td>Der letzte Monarch</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>153</td>
<td>Pas de Deux</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>154</td>
<td>Brunswick</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>157</td>
<td>Wheel of Fortune</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>158</td>
<td>Imperial Trumps</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>159</td>
<td>Pagat</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>160</td>
<td>Skiz</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>161</td>
<td>Fifteen plus</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>162</td>
<td>Excuse</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>163</td>
<td>Grasshopper</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>164</td>
<td>Double Grasshopper</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>165</td>
<td>Bits n Bytes</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>166</td>
<td>Hex A Klon</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>167</td>
<td>Der kleine Napoleon</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>168</td>
<td>Der freie Napoleon</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>169</td>
<td>Napoleon</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>170</td>
<td>Free Napoleon</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>171</td>
<td>Lady Betty</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>172</td>
<td>Tam O'Shanter</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>173</td>
<td>Strategy</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>174</td>
<td>Russian Patience</td>
<td>Die Russische</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>175</td>
<td>Long Braid</td>
<td>Der lange Zopf</td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>176</td>
<td>Memory 24</td>
<td></td>
<td>French (Memory)</td>
</tr>

<tr>
<td>177</td>
<td>Memory 40</td>
<td></td>
<td>French (Memory)</td>
</tr>

<tr>
<td>178</td>
<td>Concentration</td>
<td></td>
<td>French (Memory)</td>
</tr>

<tr>
<td>179</td>
<td>Ponytail</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>180</td>
<td>Pegged</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>181</td>
<td>Pegged Cross 1</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>182</td>
<td>Pegged Cross 2</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>183</td>
<td>Pegged 6x6</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>184</td>
<td>Pegged 7x7</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>185</td>
<td>Wasp</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>186</td>
<td>Alaska</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>187</td>
<td>Chinese Discipline</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>188</td>
<td>Chinese Solitaire</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>189</td>
<td>Queenie</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>190</td>
<td>Rushdike</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>191</td>
<td>Russian Point</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>192</td>
<td>Abacus</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>193</td>
<td>Relaxed Pyramid</td>
<td> Pyramid's Stones</td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>194</td>
<td>Rachel</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>195</td>
<td>Quadrangle</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>196</td>
<td>Corona</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>197</td>
<td>Triple Line</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>198</td>
<td>Napoleon's Exile</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>199</td>
<td>Single Rail</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>200</td>
<td>Nomad</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>201</td>
<td>Sanibel</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>202</td>
<td>Cavalier</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>203</td>
<td>Five Aces</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>204</td>
<td>Wicked</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>205</td>
<td>Nasty</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>206</td>
<td>Fortunes</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>207</td>
<td>Hanoi Puzzle 4</td>
<td></td>
<td>French (Puzzle)</td>
</tr>

<tr>
<td>208</td>
<td>Hanoi Puzzle 5</td>
<td></td>
<td>French (Puzzle)</td>
</tr>

<tr>
<td>209</td>
<td>Hanoi Puzzle 6</td>
<td></td>
<td>French (Puzzle)</td>
</tr>

<tr>
<td>210</td>
<td>Pegged Triangle 1</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>211</td>
<td>Pegged Triangle 2</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>212</td>
<td>Weddings</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>213</td>
<td>Russian Aces</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>214</td>
<td>Belvedere</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>215</td>
<td>Somerset</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>216</td>
<td>Monte Carlo (2 decks)</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>217</td>
<td>Milligan Harp</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>218</td>
<td>Carlton</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>219</td>
<td>Memory 30</td>
<td></td>
<td>French (Memory)</td>
</tr>

<tr>
<td>220</td>
<td>Rouge et Noir</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>221</td>
<td>Stonewall</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>222</td>
<td>Flower Garden</td>
<td>The Bouquet<br/>The Garden</td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>223</td>
<td>Brigade</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>224</td>
<td>Easthaven</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>225</td>
<td>Westhaven</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>226</td>
<td>Blockade</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>227</td>
<td>Intelligence</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>228</td>
<td>Limited</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>229</td>
<td>Agnes Sorel</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>230</td>
<td>Jane</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>231</td>
<td>Canister</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>232</td>
<td>Raglan</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>233</td>
<td>King Albert</td>
<td>Idiot's Delight</td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>234</td>
<td>Alhambra</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>235</td>
<td>Nestor</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>236</td>
<td>Agnes Bernauer</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>256</td>
<td>Calculation</td>
<td>Progression</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>257</td>
<td>Numerica</td>
<td>Sir Tommy</td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>258</td>
<td>Eight Off</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>259</td>
<td>Dead King Golf</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>260</td>
<td>Relaxed Golf</td>
<td>Putt Putt</td>
<td>French (Golf)</td>
</tr>

<tr>
<td>261</td>
<td>Grandfather's Clock</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>263</td>
<td>Phoenix</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>264</td>
<td>Double FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>265</td>
<td>Triple FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>266</td>
<td>Dover</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>267</td>
<td>Four Leaf Clovers</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>268</td>
<td>House in the Wood</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>269</td>
<td>Spider (1 suit)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>270</td>
<td>Spider (2 suits)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>271</td>
<td>Double Yukon</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>272</td>
<td>Triple Yukon</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>273</td>
<td>Triple Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>274</td>
<td>Triple Klondike by Threes</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>275</td>
<td>Galary</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>276</td>
<td>Moonlight</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>277</td>
<td>Napoleon's Tomb</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>278</td>
<td>Grandfather</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>279</td>
<td>Kings</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>280</td>
<td>Camelot</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>281</td>
<td>Escalator</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>282</td>
<td>Dutchess</td>
<td>Duchess<br/>Glenwood</td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>283</td>
<td>Jumbo</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>284</td>
<td>Ten Across</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>285</td>
<td>Panopticon</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>286</td>
<td>Retinue</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>287</td>
<td>Push Pin</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>288</td>
<td>Royal Marriage</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>289</td>
<td>Small PileOn</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>290</td>
<td>Bisley</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>291</td>
<td>Royal Family</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>292</td>
<td>Capricieuse</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>293</td>
<td>Nationale</td>
<td>Zigzag Course</td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>294</td>
<td>Curds and Whey</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>295</td>
<td>Napoleon's Square</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>296</td>
<td>Colorado</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>298</td>
<td>Open Peek</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>299</td>
<td>Salic Law</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>300</td>
<td>Stronghold</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>301</td>
<td>Fastness</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>302</td>
<td>St. Helena</td>
<td>Napoleon's Favorite<br/>Washington's Favorite</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>303</td>
<td>Tournament</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>304</td>
<td>La Nivernaise</td>
<td>Napoleon's Flank</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>305</td>
<td>Three Blind Mice</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>306</td>
<td>Zerline</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>307</td>
<td>Heads and Tails</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>308</td>
<td>Portuguese Solitaire</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>309</td>
<td>Mrs. Mop</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>310</td>
<td>Emperor</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>311</td>
<td>Dumfries</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>312</td>
<td>Galloway</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>313</td>
<td>Robin</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>314</td>
<td>Wave Motion</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>315</td>
<td>Gate</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>316</td>
<td>Little Gate</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>317</td>
<td>House on the Hill</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>318</td>
<td>Needle</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>319</td>
<td>Haystack</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>320</td>
<td>Clover Leaf</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>321</td>
<td>Carthage</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>322</td>
<td>Algerian Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>323</td>
<td>Octave</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>324</td>
<td>Bastion</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>325</td>
<td>Ten by One</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>326</td>
<td>Lanes</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>327</td>
<td>Thirty Six</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>328</td>
<td>The Wish</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>329</td>
<td>The Wish (open)</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>330</td>
<td>Sultan</td>
<td>Sultan of Turkey</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>331</td>
<td>Sultan +</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>332</td>
<td>Mumbai</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>333</td>
<td>Open Jumbo</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>334</td>
<td>Take Away</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>335</td>
<td>Four Stacks</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>336</td>
<td>Challenge FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>337</td>
<td>Super Challenge FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>338</td>
<td>Buffalo Bill</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>339</td>
<td>Moosehide</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>340</td>
<td>Intelligence +</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>341</td>
<td>Cicely</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>342</td>
<td>Trillium</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>343</td>
<td>Lily</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>344</td>
<td>Chelicera</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>345</td>
<td>Scorpion Head</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>346</td>
<td>Scorpion Tail</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>347</td>
<td>Free Fan</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>348</td>
<td>Arachnida</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>349</td>
<td>Miss Muffet</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>350</td>
<td>Q.C.</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>351</td>
<td>Chequers</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>352</td>
<td>Nordic</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>353</td>
<td>Aces Up 5</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>354</td>
<td>Boudoir</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>355</td>
<td>Frog</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>356</td>
<td>Fly</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>357</td>
<td>Gnat</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>358</td>
<td>Fort</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>359</td>
<td>Spider Web</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>360</td>
<td>Munger</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>361</td>
<td>Northwest Territory</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>362</td>
<td>Morehead</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>363</td>
<td>Spidercells</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>364</td>
<td>Seven by Four</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>365</td>
<td>Seven by Five</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>366</td>
<td>Simon Jester</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>367</td>
<td>Pitchfork</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>368</td>
<td>Vertical</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>369</td>
<td>Ripple Fan</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>370</td>
<td>Genesis</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>371</td>
<td>Genesis +</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>372</td>
<td>Double Bisley</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>373</td>
<td>Gloria</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>374</td>
<td>Realm</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>375</td>
<td>Mancunian</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>376</td>
<td>Backbone</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>377</td>
<td>Backbone +</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>378</td>
<td>Gloaming</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>379</td>
<td>Chamberlain</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>380</td>
<td>Jungle</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>381</td>
<td>Spaces and Aces</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>382</td>
<td>Applegate</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>383</td>
<td>Bath</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>384</td>
<td>Big Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>385</td>
<td>Box Fan</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>386</td>
<td>Kingsdown Eights</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>387</td>
<td>Roslin</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>388</td>
<td>Senate</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>389</td>
<td>Senate +</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>390</td>
<td>Arizona</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>391</td>
<td>British Constitution</td>
<td>Constitution</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>392</td>
<td>New British Constitution</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>393</td>
<td>Castle of Indolence</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>394</td>
<td>Clink</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>395</td>
<td>Zerline (3 decks)</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>396</td>
<td>Triple Canfield</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>397</td>
<td>Great Wheel</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>398</td>
<td>Mount Olympus</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>399</td>
<td>Zeus</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>400</td>
<td>Rittenhouse</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>401</td>
<td>Big Divorce</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>402</td>
<td>Toad</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>403</td>
<td>Acme</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>404</td>
<td>Perseverance</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>405</td>
<td>All in a Row</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>406</td>
<td>Amazons</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>407</td>
<td>Aunt Mary</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>408</td>
<td>Box Kite</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>409</td>
<td>Bridesmaids</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>410</td>
<td>Captive Queens</td>
<td>Quadrille</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>411</td>
<td>Carre Napoleon</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>412</td>
<td>Cone</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>413</td>
<td>Duke</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>414</td>
<td>German Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>415</td>
<td>Bavarian Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>416</td>
<td>Fortune's Favor</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>417</td>
<td>Corners</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>418</td>
<td>Contradance</td>
<td>Cotillion</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>419</td>
<td>Idle Aces</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>420</td>
<td>Double Dot</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>421</td>
<td>Little Billie</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>422</td>
<td>Minerva</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>423</td>
<td>Lady of the Manor</td>
<td>Vassal<br/>La Chatelaine</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>424</td>
<td>Matrimony</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>425</td>
<td>New York</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>426</td>
<td>Octagon</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>427</td>
<td>Opus</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>428</td>
<td>Parallels</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>429</td>
<td>Patriarchs</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>430</td>
<td>Puss in the Corner</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>431</td>
<td>Queen of Italy</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>432</td>
<td>Robert</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>433</td>
<td>Rows of Four</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>434</td>
<td>Seven Devils</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>435</td>
<td>Shifting</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>436</td>
<td>Simplex</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>437</td>
<td>Simplicity</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>438</td>
<td>Sixes and Sevens</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>439</td>
<td>Solid Square</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>440</td>
<td>Squadron</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>441</td>
<td>York</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>442</td>
<td>Deep</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>443</td>
<td>Twenty</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>444</td>
<td>Big York</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>445</td>
<td>Big Spider (1 suit)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>446</td>
<td>Big Spider (2 suits)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>447</td>
<td>Australian Patience</td>
<td>Outback Patience</td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>448</td>
<td>Repair</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>449</td>
<td>Spider 3x3</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>450</td>
<td>Raw Prawn</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>451</td>
<td>Cell 11</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>452</td>
<td>Double Easthaven</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>453</td>
<td>Triple Easthaven</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>454</td>
<td>Spider (4 decks)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>455</td>
<td>Very Big Divorce</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>456</td>
<td>Bim Bom</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>457</td>
<td>Algerian Patience (3 decks)</td>
<td></td>
<td>French (Three-Deck game)</td>
</tr>

<tr>
<td>458</td>
<td>Spidike</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>459</td>
<td>Fred's Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>460</td>
<td>Fred's Spider (3 decks)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>461</td>
<td>Open Spider</td>
<td>Beetle</td>
<td>French (Spider)</td>
</tr>

<tr>
<td>462</td>
<td>Josephine</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>463</td>
<td>Surprise</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>464</td>
<td>Four Colours</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>465</td>
<td>Granada</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>466</td>
<td>Double Russian Solitaire</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>467</td>
<td>Zodiac</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>468</td>
<td>Spike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>469</td>
<td>Phantom Blockade</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>470</td>
<td>Moving Left</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>471</td>
<td>Souter</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>472</td>
<td>Strategerie</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>473</td>
<td>Big Forty</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>474</td>
<td>Ali Baba</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>475</td>
<td>Cassim</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>476</td>
<td>Demon</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>477</td>
<td>Corner Suite</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>478</td>
<td>Elba</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>479</td>
<td>Saratoga</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>480</td>
<td>Trusty Twelve</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>481</td>
<td>Knotty Nines</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>482</td>
<td>Sweet Sixteen</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>483</td>
<td>Czarina</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>484</td>
<td>Four Seasons</td>
<td>Corner Card<br/>Vanishing Cross</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>485</td>
<td>Dieppe</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>486</td>
<td>Imperial Guards</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>487</td>
<td>Millie</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>488</td>
<td>Triple Russian Solitaire</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>489</td>
<td>Little Napoleon</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>490</td>
<td>Acquaintance</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>491</td>
<td>Whitehorse</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>492</td>
<td>Geoffrey</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>493</td>
<td>Marie Rose</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>494</td>
<td>Mystique</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>495</td>
<td>Lady Jane</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>496</td>
<td>Inquisitor</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>497</td>
<td>Arabella</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>498</td>
<td>Steve</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>499</td>
<td>Signora</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>500</td>
<td>Madame</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>501</td>
<td>Wake-Robin</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>502</td>
<td>Wake-Robin (3 decks)</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>503</td>
<td>Big Streets</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>504</td>
<td>Number Twelve</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>505</td>
<td>Big Courtyard</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>506</td>
<td>Express</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>507</td>
<td>Lightweight</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>508</td>
<td>Castle Mount</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>509</td>
<td>Big Cell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>510</td>
<td>Big Braid</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>511</td>
<td>Double Scorpion</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>512</td>
<td>Triple Scorpion</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>513</td>
<td>Ocean Towers</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>514</td>
<td>Carnation</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>515</td>
<td>Indefatigable</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>516</td>
<td>Troika</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>517</td>
<td>Quads</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>518</td>
<td>Boost</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>519</td>
<td>Gotham</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>520</td>
<td>German FreeCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>521</td>
<td>Canfield Rush</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>522</td>
<td>Artic Garden</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>523</td>
<td>Intrigue</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>524</td>
<td>Selective Castle</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>525</td>
<td>Queensland</td>
<td></td>
<td>French (Yukon)</td>
</tr>

<tr>
<td>527</td>
<td>Doorway</td>
<td>Solstice</td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>528</td>
<td>Final Battle</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>529</td>
<td>San Juan Hill</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>530</td>
<td>Russian Spider</td>
<td>Ukrainian Solitaire</td>
<td>French (Spider)</td>
</tr>

<tr>
<td>531</td>
<td>Double Russian Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>532</td>
<td>Gold Rush</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>533</td>
<td>Mamy Susan</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>534</td>
<td>Harvestman</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>535</td>
<td>Exiled Kings</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>536</td>
<td>Master</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>537</td>
<td>The Little Corporal</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>538</td>
<td>Bonaparte</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>539</td>
<td>Usk</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>540</td>
<td>Waterloo</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>541</td>
<td>Batsford Again</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>542</td>
<td>KingCell</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>543</td>
<td>Farmer's Wife</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>544</td>
<td>How They Run</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>545</td>
<td>Big Deal</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>546</td>
<td>Royal Parade</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>547</td>
<td>Virginia Reel</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>548</td>
<td>Parliament</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>549</td>
<td>Wheatsheaf</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>550</td>
<td>One234</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>551</td>
<td>Diamond Mine</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>552</td>
<td>Cover</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>553</td>
<td>Scuffle</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>554</td>
<td>Foursome</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>555</td>
<td>Quartets</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>556</td>
<td>Junction</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>557</td>
<td>Grand Duchess</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>558</td>
<td>Numerica (2 decks)</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>559</td>
<td>Marshal</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>560</td>
<td>Double Acquaintance</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>561</td>
<td>Dutch Solitaire</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>562</td>
<td>Delivery</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>563</td>
<td>Twin Queens</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>564</td>
<td>The Spark</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>565</td>
<td>Royal Aids</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>566</td>
<td>Hypotenuse</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>567</td>
<td>Eternal Triangle</td>
<td>Lobachevsky</td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>568</td>
<td>Right Triangle</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>569</td>
<td>Primrose</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>570</td>
<td>Long Tail</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>571</td>
<td>Short Tail</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>572</td>
<td>Gold Mine</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>573</td>
<td>Double Gold Mine</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>574</td>
<td>Interchange</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>575</td>
<td>Unlimited</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>576</td>
<td>Breakwater</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>577</td>
<td>Forty Nine</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>578</td>
<td>Indian Patience</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>579</td>
<td>Three Pirates</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>580</td>
<td>Trapdoor</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>581</td>
<td>Flamenco</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>582</td>
<td>Wood</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>583</td>
<td>Firing Squad</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>584</td>
<td>Eclipse</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>585</td>
<td>Lucky Thirteen</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>586</td>
<td>Lucky Piles</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>587</td>
<td>Double Fives</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>588</td>
<td>Roosevelt</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>589</td>
<td>Last Chance</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>590</td>
<td>Chinese Klondike</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>591</td>
<td>Pantagruel</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>592</td>
<td>Giza</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>593</td>
<td>Thirteens</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>594</td>
<td>Elevens</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>595</td>
<td>Elevens Too</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>596</td>
<td>Suit Elevens</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>597</td>
<td>Fifteens</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>598</td>
<td>Picture Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>599</td>
<td>Assembly</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>600</td>
<td>Anno Domini</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>601</td>
<td>American Canister</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>602</td>
<td>British Canister</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>603</td>
<td>Brisbane</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>604</td>
<td>Interment</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>605</td>
<td>Skippy</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>606</td>
<td>Strata</td>
<td>Persian Patience</td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>607</td>
<td>Legion</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>608</td>
<td>Frames</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>609</td>
<td>Grant's Reinforcement</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>610</td>
<td>Sly Fox</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>611</td>
<td>Faerie Queen</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>612</td>
<td>Glencoe</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>613</td>
<td>Fanny</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>614</td>
<td>Open Sly Fox</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>615</td>
<td>British Blockade</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>616</td>
<td>Laggard Lady</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>617</td>
<td>Parisienne</td>
<td>La Parisienne<br/>Parisian</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>618</td>
<td>Grand Duchess +</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>619</td>
<td>Triple Alliance</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>620</td>
<td>Les Quatre Coins</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>621</td>
<td>Regal Family</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>622</td>
<td>Grandmamma's Patience</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>623</td>
<td>Princess Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>624</td>
<td>Step-Up</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>625</td>
<td>Fascination Fan</td>
<td>Demon Fan</td>
<td>French (Fan)</td>
</tr>

<tr>
<td>626</td>
<td>Soother</td>
<td></td>
<td>French (Four-Deck game)</td>
</tr>

<tr>
<td>627</td>
<td>Queen Victoria</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>628</td>
<td>Crossroads</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>629</td>
<td>Tuxedo</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>630</td>
<td>Big Bertha</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>631</td>
<td>Alternation</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>632</td>
<td>Floradora</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>633</td>
<td>Athena</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>634</td>
<td>Chinaman</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>635</td>
<td>Circle Eight</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>636</td>
<td>Strategy +</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>637</td>
<td>Bastille Day</td>
<td></td>
<td>French (Terrace)</td>
</tr>

<tr>
<td>638</td>
<td>Royal Rendezvous</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>639</td>
<td>Shady Lanes</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>640</td>
<td>Brazilian Patience</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>641</td>
<td>Circle Nine</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>642</td>
<td>Lafayette</td>
<td></td>
<td>French (Canfield)</td>
</tr>

<tr>
<td>643</td>
<td>Measure</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>644</td>
<td>Double Measure</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>645</td>
<td>Saxony</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>646</td>
<td>Adela</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>647</td>
<td>Crescent</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>648</td>
<td>Headquarters</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>649</td>
<td>Doublets II</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>650</td>
<td>Castles End</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>651</td>
<td>Eight by Eight</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>652</td>
<td>Ladies Battle</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>653</td>
<td>Senior Wrangler</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>654</td>
<td>Striptease</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>655</td>
<td>Pharaohs</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>656</td>
<td>Bayan</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>657</td>
<td>Baroness</td>
<td>Five Piles</td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>658</td>
<td>Apophis</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>659</td>
<td>Cheops</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>660</td>
<td>Toni</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>661</td>
<td>Dolphin</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>662</td>
<td>Double Dolphin</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>663</td>
<td>The Last Monarch II</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>664</td>
<td>Spanish Patience II</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>665</td>
<td>Penelope's Web</td>
<td></td>
<td>French (Beleaguered Castle)</td>
</tr>

<tr>
<td>666</td>
<td>Trapdoor Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>667</td>
<td>Kingsley</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>668</td>
<td>Double Kingsley</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>669</td>
<td>Scarp</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>670</td>
<td>Chinese Spider</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>671</td>
<td>Incompatibility</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>672</td>
<td>Scorpion II</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>673</td>
<td>Fifteen</td>
<td></td>
<td>French (Baker's Dozen)</td>
</tr>

<tr>
<td>674</td>
<td>Exit</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>675</td>
<td>Four Winds</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>676</td>
<td>Boxing the Compass</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>677</td>
<td>Two Pyramids</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>678</td>
<td>Thieves of Egypt</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>679</td>
<td>Triple Interchange</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>680</td>
<td>Tarantula</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>681</td>
<td>King Tut</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>682</td>
<td>Dial</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>683</td>
<td>Famous Fifty</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>684</td>
<td>Deck</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>685</td>
<td>Fechter's Game</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>686</td>
<td>Hospital Patience</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>687</td>
<td>Glacier</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>688</td>
<td>Formic</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>689</td>
<td>Brush</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>690</td>
<td>Hemispheres</td>
<td>The Four Continents</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>691</td>
<td>Khedive</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>692</td>
<td>Board Patience</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>693</td>
<td>Colonel</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>694</td>
<td>Casket</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>695</td>
<td>The Red and the Black</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>696</td>
<td>Florentine Patience</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>697</td>
<td>Big Ben</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>698</td>
<td>Can Can</td>
<td></td>
<td>French (Raglan)</td>
</tr>

<tr>
<td>699</td>
<td>Double Pyramid</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>700</td>
<td>Triangle</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>701</td>
<td>Up and Down</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>702</td>
<td>Double Line</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>703</td>
<td>Four by Four</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>704</td>
<td>S Patience</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>705</td>
<td>Busy Cards</td>
<td></td>
<td>French (Napoleon)</td>
</tr>

<tr>
<td>706</td>
<td>Paganini</td>
<td>Long Trip</td>
<td>French (Montana)</td>
</tr>

<tr>
<td>707</td>
<td>Hawaiian</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>708</td>
<td>Barrier</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>709</td>
<td>Waterfall</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>710</td>
<td>Bebop</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>711</td>
<td>The Jolly Roger</td>
<td></td>
<td>French (Spider)</td>
</tr>

<tr>
<td>712</td>
<td>Leprechaun</td>
<td></td>
<td>French (Gypsy)</td>
</tr>

<tr>
<td>713</td>
<td>Flipper</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>714</td>
<td>Shamrocks II</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>715</td>
<td>Treasure Trove</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>716</td>
<td>Peek II</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>717</td>
<td>Well</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>718</td>
<td>Locked Cards</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>719</td>
<td>School</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>720</td>
<td>Vague</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>721</td>
<td>Thirty</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>722</td>
<td>Twelve Sleeping Maids</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>723</td>
<td>Devil's Solitaire</td>
<td>Banner</td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>724</td>
<td>Eight Packs</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>725</td>
<td>Topsy-Turvy Queens</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>726</td>
<td>Eight Sages</td>
<td></td>
<td>French (Klondike)</td>
</tr>

<tr>
<td>727</td>
<td>Right and Left</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>728</td>
<td>Thirty Two Cards</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>729</td>
<td>Two Rings</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>730</td>
<td>Phalanx</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>731</td>
<td>Three Fir-trees</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>732</td>
<td>Wave</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>733</td>
<td>Napoleon Takes Moscow</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>734</td>
<td>Napoleon Leaves Moscow</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>735</td>
<td>Hurricane</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>736</td>
<td>Spoilt</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>737</td>
<td>Clock</td>
<td>Travellers</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>738</td>
<td>Boomerang</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>739</td>
<td>Forest Glade</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>740</td>
<td>Footling</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>741</td>
<td>Double Footling</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>742</td>
<td>Grandee</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>743</td>
<td>Turncoats</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>744</td>
<td>Voracious</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>745</td>
<td>Desert Island</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>746</td>
<td>Limpopo</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>747</td>
<td>Cringle</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>748</td>
<td>Twilight Zone</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>749</td>
<td>Flake</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>750</td>
<td>Flake (2 decks)</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>751</td>
<td>Blind Patience</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>752</td>
<td>Reserves</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>753</td>
<td>Flourish</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>754</td>
<td>Amphibian</td>
<td></td>
<td>French (Numerica)</td>
</tr>

<tr>
<td>755</td>
<td>Choice</td>
<td></td>
<td>French (Three-Deck game)</td>
</tr>

<tr>
<td>756</td>
<td>Tabby Cat</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>757</td>
<td>Manx</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>758</td>
<td>Maine Coon</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>759</td>
<td>Double Montana</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>760</td>
<td>Aglet</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>761</td>
<td>Catherine the Great</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>762</td>
<td>Four Packs</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>763</td>
<td>Wasatch</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>764</td>
<td>Beacon</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>765</td>
<td>Foothold</td>
<td></td>
<td>French (Forty Thieves)</td>
</tr>

<tr>
<td>766</td>
<td>Kentish</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>767</td>
<td>Quads +</td>
<td></td>
<td>French (Fan)</td>
</tr>

<tr>
<td>768</td>
<td>Relaxed Three Fir-trees</td>
<td></td>
<td>French (Golf)</td>
</tr>

<tr>
<td>769</td>
<td>Hanoi Sequence</td>
<td></td>
<td>French (Puzzle)</td>
</tr>

<tr>
<td>770</td>
<td>Double Blue Moon</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>771</td>
<td>Double Red Moon</td>
<td></td>
<td>French (Montana)</td>
</tr>

<tr>
<td>772</td>
<td>Accordion</td>
<td>Idle Year<br/>Methuselah<br/>Tower of Babel</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>773</td>
<td>Relaxed Accordion</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>901</td>
<td>La Belle Lucie</td>
<td>Fair Lucy<br/>Midnight Oil</td>
<td>French (Fan)</td>
</tr>

<tr>
<td>903</td>
<td>Aces Up</td>
<td>Aces High<br/>Drivel</td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>1900</td>
<td>FreeCell with Two Reserves</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>1901</td>
<td>FreeCell with Zero Reserves</td>
<td></td>
<td>French (FreeCell)</td>
</tr>

<tr>
<td>5001</td>
<td>Mahjongg Altar</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5002</td>
<td>Mahjongg Arena</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5003</td>
<td>Mahjongg Arena 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5004</td>
<td>Mahjongg Arrow</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5005</td>
<td>Mahjongg Art Moderne</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5006</td>
<td>Mahjongg Balance</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5007</td>
<td>Mahjongg Bat</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5008</td>
<td>Mahjongg Beatle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5009</td>
<td>Mahjongg Big Hole</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5010</td>
<td>Mahjongg Bizarre</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5011</td>
<td>Mahjongg Boat</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5012</td>
<td>Mahjongg Bug</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5013</td>
<td>Mahjongg Butterfly</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5014</td>
<td>Mahjongg Castle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5015</td>
<td>Mahjongg Cat and Mouse</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5016</td>
<td>Mahjongg Ceremonial</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5017</td>
<td>Mahjongg Checkered</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5018</td>
<td>Mahjongg Chip</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5019</td>
<td>Mahjongg Columns</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5020</td>
<td>Mahjongg Crown</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5021</td>
<td>Mahjongg Cupola</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5022</td>
<td>Mahjongg Deep Well</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5023</td>
<td>Mahjongg Dragon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5024</td>
<td>Mahjongg Dude</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5026</td>
<td>Mahjongg Enterprise</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5027</td>
<td>Mahjongg Eye</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5028</td>
<td>Mahjongg F-15 Eagle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5029</td>
<td>Mahjongg Farandole</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5030</td>
<td>Mahjongg Fish</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5031</td>
<td>Mahjongg Five Pyramids</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5033</td>
<td>Mahjongg Flowers</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5034</td>
<td>Mahjongg Flying Dragon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5035</td>
<td>Mahjongg Fortress Towers</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5036</td>
<td>Mahjongg Full Vision</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5037</td>
<td>Mahjongg Full Vision 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5038</td>
<td>Mahjongg Future</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5039</td>
<td>Mahjongg Garden</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5040</td>
<td>Mahjongg Gayle's</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5041</td>
<td>Mahjongg Glade</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5042</td>
<td>Mahjongg H for Haga</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5044</td>
<td>Mahjongg Helios</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5045</td>
<td>Mahjongg High and Low</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5047</td>
<td>Mahjongg Inca</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5048</td>
<td>Mahjongg Inner Circle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5049</td>
<td>Mahjongg Joker</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5050</td>
<td>Mahjongg K for Kyodai</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5052</td>
<td>Mahjongg Km</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5053</td>
<td>Mahjongg Kujaku</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5054</td>
<td>Mahjongg Labyrinth</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5055</td>
<td>Mahjongg Lion</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5056</td>
<td>Mahjongg Lost </td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5057</td>
<td>Mahjongg Maya</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5058</td>
<td>Mahjongg Mesh</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5059</td>
<td>Mahjongg Moth</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5060</td>
<td>Mahjongg N for Namida</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5063</td>
<td>Mahjongg New Layout</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5064</td>
<td>Mahjongg Order</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5065</td>
<td>Mahjongg Pattern</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5067</td>
<td>Mahjongg Portal</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5068</td>
<td>Mahjongg Rocket</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5069</td>
<td>Mahjongg Scorpion</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5070</td>
<td>Mahjongg Screw Up</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5071</td>
<td>Mahjongg Seven</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5072</td>
<td>Mahjongg Seven Pyramids</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5073</td>
<td>Mahjongg Shield</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5074</td>
<td>Mahjongg Siam</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5076</td>
<td>Mahjongg Square</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5077</td>
<td>Mahjongg Squares</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5078</td>
<td>Mahjongg Squaring</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5079</td>
<td>Mahjongg Stairs</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5080</td>
<td>Mahjongg Star Ship</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5081</td>
<td>Mahjongg Steps Pyramid</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5082</td>
<td>Mahjongg Stonehenge</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5083</td>
<td>Mahjongg SunMoon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5084</td>
<td>Mahjongg Temple</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5086</td>
<td>Mahjongg The Door</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5087</td>
<td>Mahjongg The Great Wall</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5088</td>
<td>Mahjongg Theater</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5089</td>
<td>Mahjongg Tile Fighter</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5090</td>
<td>Mahjongg Tilepiles</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5091</td>
<td>Mahjongg Time Tunnel</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5092</td>
<td>Mahjongg Tomb</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5094</td>
<td>Mahjongg Traditional Reviewed</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5095</td>
<td>Mahjongg Tree of Life</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5096</td>
<td>Mahjongg Twin Temples</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5097</td>
<td>Mahjongg Vi</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5098</td>
<td>Mahjongg Victory Arrow</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5099</td>
<td>Mahjongg Wavelets</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5100</td>
<td>Mahjongg Well</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5102</td>
<td>Mahjongg Yummy</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5200</td>
<td>Mahjongg Another Round</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5201</td>
<td>Mahjongg Aqab's</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5202</td>
<td>Mahjongg Big Mountain</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5203</td>
<td>Mahjongg Bridge</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5204</td>
<td>Mahjongg Butterfly 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5205</td>
<td>Mahjongg ChessMania</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5206</td>
<td>Mahjongg Cross</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5207</td>
<td>Mahjongg Cupido's Heart</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5208</td>
<td>Mahjongg Diamond</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5209</td>
<td>Mahjongg Dragon 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5210</td>
<td>Mahjongg Empty Pyramids</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5211</td>
<td>Mahjongg Fish face</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5212</td>
<td>Mahjongg Floating City</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5215</td>
<td>Mahjongg Hidden Words</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5216</td>
<td>Mahjongg Hovercraft</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5217</td>
<td>Mahjongg Hurdles</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5218</td>
<td>Mahjongg Tornado</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5219</td>
<td>Mahjongg IloveU</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5220</td>
<td>Mahjongg Inazuma</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5221</td>
<td>Mahjongg JPs</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5222</td>
<td>Mahjongg Japan</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5223</td>
<td>Mahjongg Krebs</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5224</td>
<td>Mahjongg Kumo</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5225</td>
<td>Mahjongg Kyodai 14</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5226</td>
<td>Mahjongg Kyodai 17</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5227</td>
<td>Mahjongg Kyodai 18</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5228</td>
<td>Mahjongg Kyodai 20</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5229</td>
<td>Mahjongg Kyodai 23</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5230</td>
<td>Mahjongg Kyodai 24</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5231</td>
<td>Mahjongg Kyodai 25</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5232</td>
<td>Mahjongg Kyodai 26</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5233</td>
<td>Mahjongg Kyodai 27</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5234</td>
<td>Mahjongg Kyodai 28</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5235</td>
<td>Mahjongg Kyodai 41</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5236</td>
<td>Mahjongg Kyodai 42</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5237</td>
<td>Mahjongg Lattice</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5239</td>
<td>Mahjongg Loose Ends</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5240</td>
<td>Mahjongg Mini Traditional</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5241</td>
<td>Mahjongg Mini-Layout</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5242</td>
<td>Mahjongg Mission Impossible</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5243</td>
<td>Mahjongg Multi X</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5245</td>
<td>Mahjongg Okie's Nitemare</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5246</td>
<td>Mahjongg Orbital</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5247</td>
<td>Mahjongg Owl</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5248</td>
<td>Mahjongg Pantheon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5249</td>
<td>Mahjongg Papillon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5250</td>
<td>Mahjongg Pyramid 1</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5251</td>
<td>Mahjongg Pyramid 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5252</td>
<td>Mahjongg Quad</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5253</td>
<td>Mahjongg Rectangle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5254</td>
<td>Mahjongg Reindeer</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5255</td>
<td>Mahjongg Rings</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5256</td>
<td>Mahjongg River Bridge</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5257</td>
<td>Mahjongg Roman Arena</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5258</td>
<td>Mahjongg Rugby</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5259</td>
<td>Mahjongg Shapeshifter</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5260</td>
<td>Mahjongg Space Bridge</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5261</td>
<td>Mahjongg Space Shuttle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5262</td>
<td>Mahjongg Stage 1</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5263</td>
<td>Mahjongg Stage 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5264</td>
<td>Mahjongg Stairs 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5265</td>
<td>Mahjongg Stairs 3</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5266</td>
<td>Mahjongg Stargate</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5267</td>
<td>Mahjongg Sukis</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5268</td>
<td>Mahjongg Temple 1</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5269</td>
<td>Mahjongg Temple 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5270</td>
<td>Mahjongg Totally Random-Made</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5271</td>
<td>Mahjongg Trika</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5272</td>
<td>Mahjongg Twin</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5273</td>
<td>Mahjongg Two Domes</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5274</td>
<td>Mahjongg Vagues</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5275</td>
<td>Mahjongg Well2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5276</td>
<td>Mahjongg Whatever</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5277</td>
<td>Mahjongg Win</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5278</td>
<td>Mahjongg X-Files</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5279</td>
<td>Mahjongg X-Shape</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5401</td>
<td>Mahjongg Taipei</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5402</td>
<td>Mahjongg Hare</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5403</td>
<td>Mahjongg Horse</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5404</td>
<td>Mahjongg Rat</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5405</td>
<td>Mahjongg Tiger</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5406</td>
<td>Mahjongg Ram</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5407</td>
<td>Mahjongg Wedges</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5408</td>
<td>Mahjongg Monkey</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5409</td>
<td>Mahjongg Rooster</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5410</td>
<td>Mahjongg Dog</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5411</td>
<td>Mahjongg Snake</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5412</td>
<td>Mahjongg Boar</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5413</td>
<td>Mahjongg Ox</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5414</td>
<td>Mahjongg Bridge 2</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5801</td>
<td>Double Mahjongg Faro</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5803</td>
<td>Double Mahjongg Two Squares</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5805</td>
<td>Double Mahjongg Twin Picks</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5806</td>
<td>Double Mahjongg Roost</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5807</td>
<td>Double Mahjongg Big Castle</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5808</td>
<td>Double Mahjongg Eight Squares</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5809</td>
<td>Double Mahjongg Big Flying Dragon</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5810</td>
<td>Double Mahjongg Sphere</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5901</td>
<td>Half Mahjongg Happy New Year</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5904</td>
<td>Half Mahjongg Smile</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>5905</td>
<td>Half Mahjongg Wall</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11001</td>
<td>Shisen-Sho 14x6</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11002</td>
<td>Shisen-Sho 18x8</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11003</td>
<td>Shisen-Sho 24x12</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11004</td>
<td>Shisen-Sho (No Gravity) 14x6</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11005</td>
<td>Shisen-Sho (No Gravity) 18x8</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11006</td>
<td>Shisen-Sho (No Gravity) 24x12</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11011</td>
<td>Not Shisen-Sho 14x6</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11012</td>
<td>Not Shisen-Sho 18x8</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>11013</td>
<td>Not Shisen-Sho 24x12</td>
<td></td>
<td>Mahjongg</td>
</tr>

<tr>
<td>12345</td>
<td>Oonsoo</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12346</td>
<td>MatsuKiri</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12347</td>
<td>Gaji</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12348</td>
<td>Flower Clock</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12349</td>
<td>Pagoda</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12350</td>
<td>Samuri</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12351</td>
<td>Great Wall</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12352</td>
<td>Hanafuda Four Winds</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12353</td>
<td>Sumo</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12354</td>
<td>Big Sumo</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12355</td>
<td>Little Easy</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12356</td>
<td>Big Easy</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12357</td>
<td>Easy Supreme</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12358</td>
<td>Just For Fun</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12359</td>
<td>Firecracker</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12360</td>
<td>Easy x One</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12361</td>
<td>Relax</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12362</td>
<td>Double Samuri</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12363</td>
<td>Super Samuri</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12364</td>
<td>Double Your Fun</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12365</td>
<td>Cherry Bomb</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12366</td>
<td>Oonsoo Too</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12367</td>
<td>Oonsoo Strict</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12368</td>
<td>Oonsoo Open</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12369</td>
<td>Paulownia</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12370</td>
<td>Lesser Queue</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12371</td>
<td>Greater Queue</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12372</td>
<td>MatsuKiri Strict</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12373</td>
<td>Japanese Garden</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12374</td>
<td>Japanese Garden II</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12375</td>
<td>Six Sages</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12376</td>
<td>Six Tengus</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12377</td>
<td>Japanese Garden III</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12378</td>
<td>Hanafuda Four Seasons</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12379</td>
<td>Oonsoo Times Two</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12380</td>
<td>Eularia</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12381</td>
<td>Peony</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12382</td>
<td>Iris</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12383</td>
<td>Pine</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12384</td>
<td>Wisteria</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>12385</td>
<td>Flower Arrangement</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>13001</td>
<td>Katrina's Game</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13002</td>
<td>Bridget's Game</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>13003</td>
<td>Fatimeh's Game</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>13004</td>
<td>Kali's Game</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>13005</td>
<td>Dojouji's Game</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>13006</td>
<td>Lara's Game Relaxed</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>13007</td>
<td>Lara's Game Doubled</td>
<td></td>
<td>French (Two-Deck game)</td>
</tr>

<tr>
<td>13008</td>
<td>Katrina's Game Relaxed</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13009</td>
<td>Katrina's Game Doubled</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13010</td>
<td>Bridget's Game Doubled</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>13011</td>
<td>Kali's Game Relaxed</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>13012</td>
<td>Kali's Game Doubled</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>13013</td>
<td>Fatimeh's Game Relaxed</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>13014</td>
<td>Dojouji's Game Doubled</td>
<td></td>
<td>Hanafuda</td>
</tr>

<tr>
<td>13163</td>
<td>Cockroach</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13164</td>
<td>Double Cockroach</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13165</td>
<td>Corkscrew</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13166</td>
<td>Serpent</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>13167</td>
<td>Rambling</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>14401</td>
<td>Mughal Circles</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14402</td>
<td>Ghulam</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14403</td>
<td>Shamsher</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14404</td>
<td>Eight Legions</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14405</td>
<td>Ashrafi</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14406</td>
<td>Tipati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14407</td>
<td>Ashwapati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14408</td>
<td>Gajapati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14409</td>
<td>Narpati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14410</td>
<td>Garhpati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14411</td>
<td>Dhanpati</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14412</td>
<td>Akbar's Triumph</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>14413</td>
<td>Akbar's Conquest</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>15406</td>
<td>Matsya</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15407</td>
<td>Kurma</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15408</td>
<td>Varaha</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15409</td>
<td>Narasimha</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15410</td>
<td>Vamana</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15411</td>
<td>Parashurama</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15412</td>
<td>Ten Avatars</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15413</td>
<td>Dashavatara Circles</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15414</td>
<td>Balarama</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15415</td>
<td>Hayagriva</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15416</td>
<td>Shanka</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15417</td>
<td>Journey to Cuddapah</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15418</td>
<td>Long Journey to Cuddapah</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15419</td>
<td>Surukh</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15420</td>
<td>Appachan's Waterfall</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15421</td>
<td>Hiranyaksha</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>15422</td>
<td>Dashavatara</td>
<td></td>
<td>Dashavatara Ganjifa</td>
</tr>

<tr>
<td>16000</td>
<td>Vajra</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>16001</td>
<td>Danda</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>16002</td>
<td>Khadga</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>16003</td>
<td>Makara</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>16004</td>
<td>Ashta Dikapala</td>
<td></td>
<td>Mughal Ganjifa</td>
</tr>

<tr>
<td>16666</td>
<td>Klondike Plus 16</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16667</td>
<td>Hex A Klon by Threes</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16668</td>
<td>King Only Hex A Klon</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16669</td>
<td>The Familiar</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16670</td>
<td>Two Familiars</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16671</td>
<td>10 x 8</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16672</td>
<td>Drawbridge</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16673</td>
<td>Double Drawbridge</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16674</td>
<td>Hidden Passages</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16675</td>
<td>Cluitjar's Lair</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16676</td>
<td>Merlin's Meander</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16677</td>
<td>Mage's Game</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16678</td>
<td>Convolution</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16679</td>
<td>Hex Labyrinth</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>16680</td>
<td>Snakestone</td>
<td></td>
<td>Hex A Deck</td>
</tr>

<tr>
<td>22216</td>
<td>Three Peaks</td>
<td>Tri Peaks</td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>22223</td>
<td> 3x3 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22224</td>
<td> 4x4 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22225</td>
<td> 5x5 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22226</td>
<td> 6x6 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22227</td>
<td> 7x7 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22228</td>
<td> 8x8 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22229</td>
<td> 9x9 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22230</td>
<td>10x10 Matrix</td>
<td></td>
<td>Trumps only</td>
</tr>

<tr>
<td>22231</td>
<td>Three Peaks Non-scoring</td>
<td></td>
<td>French (Pairing)</td>
</tr>

<tr>
<td>22232</td>
<td>Le Grande Teton</td>
<td></td>
<td>Tarock</td>
</tr>

<tr>
<td>343001</td>
<td>Bisley 13</td>
<td></td>
<td>French (One-Deck game)</td>
</tr>

<tr>
<td>555001</td>
<td>Daddy Longlegs</td>
<td></td>
<td>French (Spider)</td>
</tr>

</tbody></table>
</section>
